@charset "utf-8";
/* CSS Document */

#menu-posts-homepageslider ul { display:none;}
.post-type-corporatepartners .row-actions, .post-type-ourassociates .row-actions,  .post-type-homepageslider  .row-actions{ display:none;}

.post-type-corporatepartners #delete-action, .post-type-ourassociates #delete-action,  .post-type-homepageslider  #delete-action  { display:none;}