/*
Theme Name: LeanBiz
Theme URI: http://www.elegantthemes.com/gallery/
Version: 2.0
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { line-height: 20px; font-family:'Droid Sans',Arial,Verdana,sans-serif; font-size: 12px; color:#626262; background: #f4f4f4 url(images/body-bg.png); }

a { text-decoration: none; color: #000000; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; letter-spacing: 0.5px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#et-wrapper { background: url(images/featured-light.png) no-repeat center 72px; }

#header { background-color: #ffffff; padding-top: 20px; }
	.container { text-align: left; margin: 0 auto; width: 960px; position: relative; }
		#logo { float: left; padding-right: 15px; padding-bottom: 10px;}
		#search-form { float: right; background: url(images/search-bg.png) no-repeat; width: 147px; height: 30px; margin-top: 10px;}
			#search-form #searchinput { background: none; border: none; float: left; margin: 6px 7px 0 4px; width: 100px; padding-left: 9px; font-size: 11px; color: #bebebe; font-family: Georgia, serif; text-shadow: 1px 1px 1px #ffffff; font-style: italic;  }
			#search-form #searchsubmit { margin-top: 10px; margin-right: 11px; float: right; }
		ul#top-menu { float: left; padding-top: 10px;}
		
		#breadcrumbs { padding-top:57px; padding-left: 10px; margin-bottom: 18px; color:#bcbbbb; }
			#breadcrumbs a { color:#929292; text-decoration: none; font-family:'Droid Sans',Arial,Verdana,sans-serif; font-style: normal; }
				#breadcrumbs a:hover { color: #676767; }
			#breadcrumbs .raquo { color:#929292; font-family:'Droid Sans',Arial,Verdana,sans-serif; font-style: normal; }
		#content-border { border: 1px solid #e4e4e4; position:relative; }	
			#content-top-border-shadow { position: absolute; top:-28px; right: 0px; background: url(images/content-top-border-shadow.png) no-repeat; height:28px; width:960px; }
			#content-bottom-border-shadow { position: absolute; bottom:-28px; right: 0px; background: url(images/content-bottom-border-shadow.png) no-repeat; height:28px; width:960px; }
			#content { border: 1px solid #ffffff; background: url(images/content-bg.png); }
				#content-right-bg { background: url(images/content-right-bg.png) repeat-y top right; position: relative; padding-bottom: 35px; }
					#left-area { width: 686px; float:left; }
					#sidebar { width: 227px; float:left; padding-top: 43px; padding-left: 43px; }
						.post { padding:44px 55px 15px 48px; position:relative; }
							.post-meta { position: absolute; background:url(images/post-meta.png) no-repeat; top:44px; left:-15px; width:48px; height:104px; text-align:center; }
								span.post-meta-date { display:block; font-family: Arial, sans-serif; font-size:10px; text-transform:uppercase; color:#c3c3c3; text-shadow: 1px 1px 1px #ffffff; font-weight:bold; padding-right: 2px; padding-top:5px; }
									span.post-meta-date span { display:block; color:#9d9d9d; font-size:18px; margin-top: -3px; padding-right: 2px; }
								span.meta-comment { display:block; padding: 17px 12px 0 10px; position: absolute; width: 27px; left: 0; bottom: 25px; }
									span.meta-comment a { display: block; color:#ffffff; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; }
									span.meta-comment a:hover { text-decoration: none; color: #eee; }
							.post-thumbnail { display:block; float:left; position:relative; margin-right: 35px; }
								span.post-overlay { background:url(images/post-overlay.png) no-repeat;
								display:block; height:350px; left:0px; position:absolute; top:0px; width:500px; }
							h2.title, h1.title { font-size: 32px; padding-bottom: 13px; font-family: 'Lobster', Arial, sans-serif; text-shadow: 1px 1px 1px #ffffff; }
								h2.title a, h1.title { text-decoration: none; } 
								.post p.meta-info { padding-bottom:7px; font-family: 'Kreon', Arial, sans-serif; font-size: 16px; color: #678e8d; text-shadow: 1px 1px 1px #ffffff; }
									.post p.meta-info a { color: #678e8d; text-decoration: none; }
									.post p.meta-info a:hover { color: #527170; }	
								.post p { font-size:13px; } 	
								a.read-more { background:url(images/read-more.png) no-repeat right bottom; color:#afafaf; display:block; text-shadow: 1px 1px 1px #ffffff; padding-right:22px; text-decoration:none; height: 31px; line-height: 31px; float:right; font-family: Georgia, serif; font-style: italic; font-size:11px; }
									a.read-more:hover { color:#9d9c9c; }
									a.read-more span { background:url(images/read-more.png) no-repeat; display:block; padding-left: 13px; height: 31px; padding-right: 9px; }
					#content-top-shadow { position: absolute; top:-1px; right: 270px; background: url(images/content-top-shadow.png) no-repeat; height:117px; width:23px; }
					#content-bottom-shadow { position: absolute; bottom:-1px; right: 270px; background: url(images/content-bottom-shadow.png) no-repeat; height:117px; width:23px; }
					#content-widget-light { position: absolute; top:-1px; right: 204px; background: url(images/content-widget-light.png) no-repeat; height:64px; width:65px; }
	
	.entry { padding-bottom: 40px; background: url(images/post-bottom-bg.png) no-repeat bottom left; }
	
	.post ul, .comment-content ul { list-style-type: disc; padding: 10px 0px 10px 20px; }
	.post ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 10px 0px 10px 2px; }
		.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
		.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }
			
/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/ 
/*------------------------------------------------*/

ul#top-menu li { padding: 8px 11px 0; font-size: 13px; }
	ul#top-menu a { color: #5d5d5d; text-decoration: none; padding-bottom: 22px; }
	ul#top-menu a:hover, ul#top-menu li.sfHover > a { color: #d2d2d2;}
	
	span.et_active_menu_item { display: block; background: url(images/menu_arrow.png) no-repeat bottom center; position: absolute; left: 0; bottom: -10px; height: 10px; width: 100%;z-index: 10; }
	
	ul#top-menu > li.current-menu-item > a { color: #d2d2d2; }
	
	ul#top-menu li ul { width: 169px !important; padding: 0 13px 5px 18px; background: #fff; top: 50px !important; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; z-index: 9999; display: none; }
		ul#top-menu ul li { margin: 0 !important; padding: 0 !important; background: url(images/menu-separator.png) no-repeat; }
			ul#top-menu ul li a { padding: 10px 0px 10px 20px !important; width: 160px; }
			
			ul#top-menu li:hover ul ul, ul#top-menu li.sfHover ul ul { top: -1px !important; left: 181px !important; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
			ul#top-menu ul ul > li:first-child { background: none; }
			
/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

#featured { position:relative; }
	#featured-shadow { background: url(images/featured-bg.png) repeat-x; }
		#featured-light { background: url(images/featured-shadow.png) no-repeat top center; position:relative; }
			a#left-arrow, a#right-arrow { position: fixed; top: 32%; width: 63px; height: 128px; text-indent:-9999px; display: none; z-index: 6; }
				a#left-arrow { background:url(images/left-arrow.png) no-repeat; left: 65px;}	
				a#right-arrow { background:url(images/right-arrow.png) no-repeat; right: 65px; }
					.slide { margin-left: 0px; padding-top: 3px; text-align: center;}
						.featured-description { padding-top: 33px; }
							h2.featured-title { font-size: 40px; font-family: 'Arial', Arial, sans-serif; margin-bottom:8px; }
								h2.featured-title a { color: #ffffff; text-decoration:none; }
							.featured-description p, .et_slide_text { font-size: 30px; font-family: 'Kreon', Arial, sans-serif; color: #678e8d; text-shadow: 1px 1px 1px #ffffff; }
#featured-border { background: url(images/featured-border.png) repeat-x; height: 2px; }
	#featured-bottom-shadow { background: url(images/featured-bottom-shadow.png) no-repeat center 1px; height: 29px; }							
		
.featured_shadow_bg { border: 7px solid #fff; float: left; }
.featured_image_shadow { border: 8px solid #fff; float: left; -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1); box-shadow: 0px 0px 8px rgba(0,0,0,0.1); }
	.featured-description { clear: both; }
	
	.et_slide_video .featured_shadow_bg { margin-left: 194px; }
	.et_slide_lonevideo .featured_shadow_bg { margin-left: 141px; }
	.et_slide_video .featured_shadow_bg, .et_slide_lonevideo .featured_shadow_bg { -moz-border-radius: 10px; webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0px 0px 23px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 0px 23px rgba(0,0,0,0.2); box-shadow: 0px 0px 23px rgba(0,0,0,0.2); }
	
	.et_slide_lonevideo { padding-top: 104px; padding-bottom: 31px; }
	.et_slide_text { padding: 150px 0; }
	.et_slide_imageleft_png, .et_slide_imageright_png { padding-left: 114px; padding-bottom: 112px; width: 846px !important; }
	.et_slide_imageright_png { width: 725px !important; }
	
	.et_slide_imageleft, .et_slide_imageright { padding: 110px 0 110px 95px; width: 865px !important; }
	.et_slide_imageright { width: 725px !important; }
		.et_slide_imageleft .featured_image_shadow { margin-right: 55px; }
		.et_slide_imageleft .featured-description, .et_slide_imageright .featured-description, .et_slide_imageleft_png .featured-description, .et_slide_imageright_png .featured-description { float: left; clear: none; width: 390px; text-align: left; padding-top: 60px; }
		.et_slide_imageleft_png  .featured-description { padding-top: 72px; }
		
		.et_slide_imageright .featured-description, .et_slide_imageright_png .featured-description { text-align: right; }
			.et_slide_imageright .featured-description a.featured-more, .et_slide_imageright_png .featured-description a.featured-more { float: right; }
	
	.featured_png_left { margin-right: 50px; float: left; }
	.featured_png_right { margin-left: 50px; float: right; }
	
	.et_slide_imageright .featured_image_shadow  { float: right; }
	
#featured .slide { width: 960px; position: relative; }

.home-featured-slider { overflow: hidden; }

a.featured-more { background: url(images/featured-readmore.png) no-repeat bottom right; font-size: 16px; font-family: 'Droid Sans', Arial, sans-serif; color: #656565; padding-right: 23px; display: block; float: left; text-shadow: 1px 1px 0 #fff; margin-top: 10px; }
	a.featured-more span { background: url(images/featured-readmore.png) no-repeat; height: 47px; line-height: 47px; padding-left: 23px; display: block; }
a.featured-more:hover { text-decoration: none; color: #323232; }

.fullwidth #content-right-bg, .fullwidth .entry, .fullwidth #respond { background: none; }
.fullwidth #left-area { width: 100%; }

		
/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap { padding-top: 40px; }
	h3#reply-title, h3#comments { font-size: 24px; color: #d7594c; font-family: 'Lobster', Arial, sans-serif; text-shadow: 1px 1px 1px #ffffff; }

	h3#comments, .comment_navigation_top, .comment_navigation_bottom, ol.commentlist, #trackbacks { margin: 0 62px 0 45px; }
	
.comment-body { padding: 0 0 0 83px; position: relative; margin: 15px 0; }
.avatar-box { position: absolute; top: 3px; left: 0; padding: 0; }
	.avatar-overlay { position: absolute; top: 0; left: 0; width: 62px; height: 62px; background: url(images/avatar-overlay.png) no-repeat; }
	
	.commentmetadata { color: #dddddd; font-size: 14px; font-family: 'Kreon', Arial, sans-serif; padding-bottom: 8px; text-shadow: 1px 1px 0 #fff; }
		.commentmetadata a { color: #dddddd; }
		span.fn, span.fn a { font-size: 18px; color: #678e8d; text-decoration: none; }
		span.fn a:hover, .commentmetadata a:hover { color: #3c5b5a; text-decoration: none; }

.reply-container { float:right; background:url(images/read-more.png) no-repeat right bottom; display:block; text-shadow: 1px 1px 1px #ffffff; padding-right:22px; text-decoration:none; height: 31px; line-height: 31px; float:right; font-family: Georgia, serif; font-style: italic; font-size:11px; }
	.reply-container a, #submit-container input#submit { background:url(images/read-more.png) no-repeat; display:block; padding-left: 13px; height: 31px; padding-right: 9px; color:#afafaf; }
	.reply-container a:hover { text-decoration: none; color:#9d9c9c; }
.comment ul.children { padding-left: 83px; }

#commentform textarea#comment { width: 96%; }
	#commentform input[type=text] { width: 38%; }
	#commentform input, #commentform textarea { background-color: #fafafa; border: 1px solid #eee; color: #afafaf; font-size: 11px; padding: 12px 10px 12px 20px; font-family: Georgia, serif; font-style: italic; text-shadow: 1px 1px 1px #ffffff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 1px 1px 0 #fff; -webkit-box-shadow: 1px 1px 0 #fff; box-shadow: 1px 1px 0 #fff; }
		p.form-submit { overflow: hidden; }
			p.form-submit input#submit { float: right; background: url(images/submit_bg.png) no-repeat; border: none; margin: 0; height: 32px; padding-left: 12px; padding-top: 0px; line-height: 30px; width: 79px; text-align: left; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	
	#commentform .hidden { display: none; }

	li.comment #respond textarea { width: 91% !important; }
	li.comment #respond input[type=text] { width: 48% !important; }
	
#trackbacks { margin-bottom: 20px; }
	#trackbacks { margin-bottom: 5px; }
	
#submit-container input#submit { background: none; border: none; padding: 0; float: right; font-style: normal; }

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }
	
#commentform input[type=text] { width: 40%; display: block; }
#commentform textarea#comment { width: 94%; }
.commentlist #respond { padding: 0; background: none; }
	.commentlist #respond textarea#comment { width: 93% !important; }
	.commentlist #respond input[type=text] { width: 40%; display: block; }
.comment_navigation_top, .comment_navigation_bottom { padding: 10px 0; }

#respond { padding: 45px 62px 0 45px; background: url(images/respond_top_bg.png) no-repeat; }

.comments_disabled { background: none; }
		
/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer { color:#929292; }
	#footer-widgets { padding: 55px 0px 80px; }
		.footer-widget { width: 190px; margin-right: 66px; float: left; }
		.last { margin-right: 0px; }
			#footer h4.widget-title { font-family:'Droid Sans',Arial,Verdana,sans-serif; text-transform: uppercase; font-size: 12px; font-weight: bold; color:#ffffff; padding-bottom: 13px; }
			#footer p { line-height: 20px; }
				.footer-widget a { color: #929292; }
				.footer-widget a:hover { color: #5e5e5e; text-decoration: none; }
			.footer-widget ul { margin-bottom:8px;  }
				.footer-widget ul ul { margin-bottom:0; }
					.footer-widget ul li { background:url(images/footer-bullet.png) no-repeat 0 5px; padding:0px 0 6px 14px; }
					.footer-widget ul li ul { margin:0 0 -3px; padding:5px 0 0 7px; }
	#footer-bottom { text-align: center; padding-bottom:50px; font-family: 'Droid sans',Arial,Verdana,sans-serif; }
		p#copyright { color:#ffffff; }	
			p#copyright a { color:#ffffff; }		

/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

.widget { width: 180px; padding-bottom: 45px; }
	.widget h3.title { text-transform: uppercase; font-size: 12px; font-weight: bold; color:#000000; padding-bottom: 15px; }
		.widget ul li { background:url(images/footer-bullet.png) no-repeat 0px 6px; padding-bottom: 7px; padding-left: 15px; display: block; }
			.widget ul li a { color:#929292; text-decoration: none; }
				.widget ul li a:hover { color: #5e5e5e; }

			
/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }

	
/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; z-index:1000; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #111; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }
		
/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; padding: 20px 55px 0 48px; text-align: right; font-family: 'Lobster', Arial, sans-serif; text-shadow: 1px 1px 0 #fff; }
.wp-pagenavi a, .wp-pagenavi a:link { padding: 6px 14px 7px 12px !important; margin: 2px; text-decoration: none; border: none !important; font-weight: normal !important; background: url(images/pagenavi_bg.png) no-repeat; color: #afafaf; font-size: 14px; }
.wp-pagenavi a:visited { padding: 6px 14px 7px 12px !important; margin: 2px; text-decoration: none; border: none; color: #afafaf; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important ; border: none !important; color: #afafaf; background-color: none; font-size: 14px; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 6px 14px 7px 12px !important; margin: 2px; border: none !important; color:#678e8d !important; background: url(images/pagenavi_bg.png) no-repeat; font-size: 14px !important; }

a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.js #featured .slide { display: none; }
.js #featured .slide1 { display: block; }
.js #featured a.et_centered  { visibility: hidden; }

.foursixeight { margin: 0px 0px 15px 84px;}

.et_pt_gallery_entry { margin: 0 0px 32px 70px !important; }
.et_embedded_videos { display: none !important; }



#header #search-form {
display: none;
}






