/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
width: 100%; 
height: 47px; 
margin: 0; 

overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;

overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
height:20px; overflow:hidden;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0 0 10px 0;

}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;

margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 