	@charset "utf-8";
/* CSS Document */


.mx_width{ width:1125px; margin: 0 auto; max-width:1125px;}
body{ margin:0px auto; font-family: 'Raleway', sans-serif; min-width:1200px; } 
html { width:100%;}
.cl{  clear:both;}
ul,p{ margin:0px; padding:0px;}
a:hover{ color:#000; }
a img{ border:none;}
.vtm{}
.fl { float:left;} 
.fr { float:right;}

.header{padding:15px 0px;}
.headerleft{ float:left;}
.headerright{ float:right; padding-top:87px;}
.headerright ul  { padding:0px; margin:0px;}
.headerright ul li a{ text-decoration:none; font-size:14px; color:#3d3b3b;}
.headerright ul li a:hover { color:#c4c4c6;}
.headerright ul li.current-menu-item a { font-weight:bold; color:#000;}
.headerright ul li{ list-style:none; float:left; padding:0px 18px  15px 18px; display:block; position:relative;}
.headerright ul li:hover ul { display:block;}
.headerright ul ul {  display:none; background:#fff url(../images/uparrow.jpg) no-repeat 10px top; position:absolute; z-index:10000; padding:0 10px; width:170px;-webkit-box-shadow: 0 0 5px 0 #D9D9D9; overflow:visible;
box-shadow: 0 0 5px 0 #D9D9D9; top:30px; }
.headerright ul ul li { float:none; padding:0px; border-bottom:solid 1px #ecebeb; padding:10px 0px;}

.banner{ background:#3d3b3b; padding:50px 0px 0px 0px; position:relative; width:100%; max-width:100%;}
.slogn{position:absolute; top:20px; right:20px; background: #FFFFFF; padding:17px 25px; font-size:25px; color:#5b5656; z-index:1000;} 
#nav { display:none;}
.wordsmenu{}
.wordsmenu ul li{ list-style:none; float:left; padding:20px 10px 35px 15px; font-size:14px; color:#a7a5a5; background:url(../images/arrow.jpg) no-repeat left 30px;}
.wordsmenu ul li a{ text-decoration:none;  color:#747474;}



.content{ padding:20px 0px 60px 0px;}
.contenttitle{color:#ed6a13; font-size:20px; padding:10px 0px 30px 0px; text-align:center;}
.corporatepartners{ float:left;}
.corporatepartners  li{list-style:none; float:left; padding-left:19px;}
.corporatepartners ul li:first-child{ padding-left:0px;}

.associates{ float:right; width:651px;}
.associates li{list-style:none; float:left; padding-right:8px;}
.associates li:first-child{padding-right:0px;}
.associates li:last-child{ padding-right:0px;}



.footer, .footer-executivetravel{ background:#403d3d; padding:35px 0px;}
.aboutwhite{ width:645px; text-align: justify; font-size:13px; color:#949292; line-height:25px; float:left;}
.fooertitle{ color:#FFFFFF; font-size:16px; padding:20px 0px;}
.footer a, .footer-executivetravel a{ color:#949292; font-size:13px;}
.awards{ float:left; padding:0px 0px 0px 74px; width:165px;}
.awards ul li a, .news ul li a, .franchising a { text-decoration:none;}
.awards li, .news li, .franchising li { list-style:none; padding:3px 0px 0px 16px; background:url(../images/fooericon.png) no-repeat left 9px;}

.news{width:165px; float:left; padding:0px 0px 0px 74px;}
.readmore{ padding:5px 0px;}

.copyright{ text-align:center; color:#FFFFFF; font-size:12px; padding:40px 0px;}




.bg{background:#413e3e; padding:50px 0px;}
.aboutwhite7-page{ background:#ffffff;  padding:23px 52px 0px 52px; height:670px;}
.aboutwhitetitle{ font-size:30px; color:191919; padding:20px 0px;}
.about p{ font-size:13px; color:#575558; line-height:30px; text-align:justify; padding:23px 0px 0px 0px;}
.aboutwhite7-page p{font-size:13px; color:#575558; line-height:30px; text-align:justify;}
.aboutwhite7-pagecopyright{background:#403d3d;}
.aboutwhite7-page span, .weddingpageleft span{ color:#585555; font-weight:bold;}


.weddingpage{ background:#ffffff;  padding:40px}
.weddingpageleft{ float:left; width:737px;}
.weddingpageleft p{ font-size:13px; color:#575558; line-height:30px; text-align:justify;}
.weddingpageright{ float:right; width:282px;}
.weddingpageexprince{ }
.downloadbox{ padding:40px 0px; width:201px; float:left;}
.downloadboxleft{}
.wediingpageglass{ float:right;}
.downloadboxright{padding:0px 0px 0px 0px; font-size:12px;}
.downoption{ padding:10px 0px; font-size:15px;}
.downoption a{ text-decoration:none; font-size:15px; font-weight:bold; color:#000000;}
.downoption a span { font-size:15px; font-weight:normal; display:block;}
.wediingpagerightbox{ text-align:center;}


.footer-executivetravel{}
.footer-executivetravel .aboutwhite{ width:369px; text-align: justify; font-size:13px; color:#949292; line-height:25px; float:left;}
.footer-executivetravel .franchising{ float:left; padding:0px 0px 0px 74px; width:212px;}
.footer-executivetravel .awards{padding:0px 0px 0px 65px;}
.executivetravel-page{ background:#ffffff;  padding:23px 52px 0px 52px;}

.executivetravelbox{width:272px;}
.executivetravelbox ul li{ list-style:none;}
.executivetraveltitle{ text-align:left; padding:10px;}
.executivetravelimg{}
.executivetraveldetail{ font-size:12px;}

.carmodel{}
.price{ width:208px; padding:38px 0px 20px 0px;}
.number{ float:left; font-size:20px; font-weight:bold; padding:0px 0px 0px 0px;}
.words{ float:left; font-size:13px; padding:10px 10px; color:#9c9c9c;}
.carmodeltitle{ color:#494949; font-size:13px; padding:15px 0px;}
.carmodeltitle span{ color:#333333; font-weight:bold;}
.carmodel ul li{ padding:8px 0px; color:#565656; list-style:inside;}

.carpicutermenu{}
.carpicutermenu ul li{ list-style:none; float:left; padding:31px 7px;}
.mileage{ padding:20px 0px; font-size:13px; color:#6e6e6e; list-style: inside;}
.enquire{ color:#494949; font-weight:bold; font-size:13px; padding:0px 0px 10px 0px;}
.button-enquire{ margin:10px 0px 0px 0px;  background:#ffffff; border: solid 7px  #d9d9db; width:122px; text-align:center; -webkit-border-radius: 80px 80px 80px 80px;
border-radius: 80px 80px 80px 80px; margin:26px 0px;}
.enquire a{ text-decoration:none; font-size:16px; color:#141414;}
.button-enquire span{ border: solid 1px #aaaaaa; -webkit-border-radius: 80px 80px 80px 80px;
border-radius: 80px 80px 80px 80px; display:block; padding:7px 0px;}

.wordsmenu ul, .footer ul { padding:0px; margin:0px;}
.home-aboutcontent { height:130px; overflow:hidden;}
.banner .mx_width { position:relative;}
.tabimg-exp img { width:125px; height:120px !important; margin-right:10px;}
.tabimg-exp { padding:20px 0;}
.tabimg img { width:165px; height:120px !important; margin-right:10px;}
.bottomtext { padding:20px 0px;}
.innerLeft { width:710px;}
.rightpartin { background:url(../images/rightbg.jpg) repeat-y left top ; width:321px; min-height:1580px; position:relative; padding:20px;}
.shedowtop { background:url(../images/right-shedow.jpg) no-repeat left top; width:50px; height:93px;  position:absolute; left:-27px; top:0px; text-indent:-99999px; }
.rightTitle { border-top:solid 2px #e0e0e0; border-bottom:solid 2px #e0e0e0; padding:10px 0px; font-size:15px; font-weight:bold;}
.rightpartin h1 { font-size:15px; color:#3d3b3b; padding:0px; margin:0px;}
.rightpartin h1 strong { display:block; font-weight:normal;}
.rightincontent { padding:10px 0px;}
.rightincontent  { font-size:15px;}
.rightincontent p{ width:280px;}
.rightincontent strong {font-weight:normal;}
.innerLeft .fbx-link { padding:10px 0px; display: block;}

.downloadbox-exp { padding-top:60px; padding-left:10px;}
.contectLeft { float:left; font-size:15px;}
.cotentRifht { float:left; padding-left:200px; font-size:15px;}
.contactpageForm { width:700px; clear:both; padding:20px 0;}
.footerIn { background:#fff; margin:20px 0px; padding:30px 10px;}
.copy { text-align:center; color:#fff; font-family:Calibri; font-size:14px; float:left;}
.footerMenu { float:right;}
.footerMenu  a { color:#fff;}

.entry-content { line-height:30px; text-align:justify;}
h4 { font-size:22px !important; font-weight:normal !important; padding-top:0px !important; border-bottom:solid 1px #cccccc !important; padding-bottom:20px !important; color:#191919 !important;}
ol { padding:0 10px !important; }



@media only screen and (min-width: 979px) and (max-width: 1124px)  {
#slideshow, .mx_width{ width:980px;}
#slideshow img { width:100%;}



}