	@charset "utf-8";
/* CSS Document */


.mx_width{ width:1152px; margin: 0 auto; }
body{ margin:0px auto; font-family: 'Raleway', sans-serif; } 
html { width:100%;}
.cl{  clear:both;}
ul,p{ margin:0px; padding:0px;}
a:hover{ color:#000; }
a img{ border:none;}
.vtm{}
.fl { float:left;} 
.fr { float:right;}

.header{padding:15px 0px;}
.headerleft{ float:left;}
.headerright{ float:right; padding-top:87px; position:relative;width: 75%;}
.headerright ul  { padding:0px; margin:0px;}
.headerright ul li a{ text-decoration:none; font-size:13px; color:#3d3b3b;}
.headerright ul li a:hover { color:#c4c4c6;}
.headerright ul li.current-menu-item a { font-weight:bold; color:#000;}
.headerright ul.nav-menu > li{
    list-style: none;
    float: left;
    padding: 0;
    display: block;
    position: relative;
    min-height: 41px;
    width: 73px;
    text-align: center;
    padding: 0 7px;
    border-left: solid 1px #8e8e8e;
}

div.one_half#second_box {
    float:  right;
}
.headerright ul#menu-header-menu > li ul.sub-menu ul.sub-menu {
    position:  relative;
    list-style:  none;
    left: calc(100% + 10px);
    top: -54px;
}
.headerright ul.nav-menu > li, .headerright ul li{
    width: calc(20% - 15px);
    min-height: 45px;
    max-height: 45px;
    width: auto;
    padding: 0 15px;
}

    div#menuharish {
        float:  right;
    }
.headerright ul#menu-header-menu {
    width: 100%;
}
.headerright ul.nav-menu li a {
    width: 100%;
    padding: 11px 0px;
    display:  block;
}
.headerright ul#menu-header-menu > li ul li {
    width:  100%;
}
.headerright ul#menu-header-menu > li ul.sub-menu ul.sub-menu {
    left: calc(100% + 9px);
}
li.menu-item-has-children > a::after {
    content: ' ';
    background-image: url("../images/down.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    background-size: contain;
    float: right;
    left: 10px;
}



ul.sub-menu li.menu-item-has-children > a::after {
    background-image: url('../images/right.svg');
}
.headerright ul:not(.sub-menu) > li:first-child {
    border-left: none;
}
.inner-container {
    max-width: 1152px;
    margin:  auto;
    min-height: 500px;
}

.inner-container .mx_width {
    padding-bottom: 50px;
}

.one_half {
    width: calc(50% - 15px);
    display: inline-block;
}
div.one_half#first_box {
    padding-right:  20px;
}
.headerright ul li:hover ul { display:block;}
.headerright ul ul {  background:#fff; position:absolute; z-index:10000; padding:0 10px; width:170px; top:60px; }
.headerright ul ul li { border-right:none; float:none; padding:0px; border-bottom:solid 1px #ecebeb; padding:10px 0px;}


/* 
.headerright ul li#menu-item-753  ul li { text-align:left; border-left:none; min-height:inherit;}
 */

.headerright ul li ul li:last-child {border-right:none;}
.banner{ background:#3d3b3b; padding:0px 0px; position:relative; width:100%; max-width:100%;}
.slogn{position:absolute; top:20px; right:20px; background: #FFFFFF; padding:17px 25px; font-size:25px; color:#5b5656; z-index:1000;} 
#nav { display:none;}
.wordsmenu{}
.wordsmenu ul li{ list-style:none; float:left; padding:20px 10px 35px 15px; font-size:14px; color:#a7a5a5; background:url(../images/arrow.jpg) no-repeat left 30px;}
.wordsmenu ul li a{ text-decoration:none;  color:#747474;}



.content{ padding:20px 0px 60px 0px;}
.contenttitle{color:#ed6a13; font-size:20px; padding:10px 0px 30px 0px; text-align:center;}
.corporatepartners{ float:left;}
.corporatepartners  li{list-style:none; float:left; padding-left:19px;}
.corporatepartners ul li:first-child{ padding-left:0px;}

.associates{ float:right; width:500px;}
.associates li{list-style:none; float:left; padding-right:8px;}
.associates li img { height:100%;}

.associates li:last-child{ padding-right:0px;}

    a.area_link {
        width: calc(50% - 30px);
        min-height: 145px;
        display: inline-block;
        padding: 10px;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .left_side {
        overflow:  hidden;
    }

    .area .right_side h2 {
        margin-top:  0;
    }

    .area .right_side p {
        color:  black;
    }

    .left_side, .right_side {
        width: 50%;
        min-height: 145px;
        display: inline-block;
        height: auto;
    }

    .left_side {
        background-size: auto 100%;
        background-repeat:  no-repeat;
        background-position:  center;
        height: 100%;
    }

    img.area_img {
        width: 100%;
        height: auto;
        min-height: 100%;
    }

    .area {
        height: 100%;
    }

    .right_side {
        float:  right;
        padding-left:  20px;
        width: calc(50% - 20px);
    }

    .areas a.area_link:nth-child(odd) {padding-right:  10px;}

    .areas a.area_link:nth-child(even) {
        float:  right;
    }


.footer, .footer-executivetravel{ background:#403d3d; padding:35px 0px;}
.aboutwhite{ width:645px; text-align: justify; font-size:13px; color:#949292; line-height:25px; float:left;}
.fooertitle{ color:#FFFFFF; font-size:16px; padding:20px 0px;}
.footer a, .footer-executivetravel a{ color:#949292; font-size:13px;}
.awards{ float:left; padding:0px 0px 0px 74px; width:165px;}
.awards ul li a, .news ul li a, .franchising a { text-decoration:none;}
.awards li, .news li, .franchising li { list-style:none; padding:3px 0px 0px 16px; background:url(../images/fooericon.png) no-repeat left 9px;}

.news{width:165px; float:left; padding:0px 0px 0px 74px;}
.readmore{ padding:5px 0px;}

.copyright{ text-align:center; color:#FFFFFF; font-size:12px; padding:40px 0px; font-family: 'Raleway', sans-serif; }
.textwidget {font-family: 'Raleway', sans-serif !important;}



.bg{background:#413e3e; padding:50px 0px;}
.aboutwhite7-page{ background:#ffffff;  padding:23px 52px 0px 52px; height:670px;}
.aboutwhitetitle{ font-size:30px; color:191919; padding:20px 0px;}
.about p{ font-size:13px; color:#575558; line-height:30px; text-align:justify; padding:23px 0px 0px 0px;}
.aboutwhite7-page p{font-size:13px; color:#575558; line-height:30px; text-align:justify;}
.aboutwhite7-pagecopyright{background:#403d3d;}
.aboutwhite7-page span, .weddingpageleft span{ color:#585555; font-weight:bold;}


.weddingpage{ background:#ffffff;  padding:40px 40px 90px 40px}
.weddingpageleft{ float:left; width:737px;}
.weddingpageleft p{ font-size:13px; color:#575558; line-height:30px; text-align:justify; word-wrap: break-word;} 
.weddingpageright{width: 290px;display:  inline-block;padding-left:  10px;}
.weddingpageexprince{ }
.downloadbox{ padding:40px 0px; width:201px; float:left;}
.downloadboxleft{}
.wediingpageglass{ float:right;}
.downloadboxright{padding:0px 0px 0px 0px; font-size:12px;}
.downoption{ padding:10px 0px; font-size:15px;}
.downoption a{ text-decoration:none; font-size:15px; font-weight:bold; color:#000000;}
.downoption a span { font-size:15px; font-weight:normal; display:block;}
.wediingpagerightbox{ text-align:center;}


.footer-executivetravel{}
.footer-executivetravel .aboutwhite{ width:369px; text-align: justify; font-size:13px; color:#949292; line-height:25px; float:left;}
.footer-executivetravel .franchising{ float:left; padding:0px 0px 0px 74px; width:212px;}
.footer-executivetravel .awards{padding:0px 0px 0px 65px;}
.executivetravel-page{ background:#ffffff;  padding:23px 52px 0px 52px;}

.executivetravelbox{width:272px;}
.executivetravelbox ul li{ list-style:none;}
.executivetraveltitle{ text-align:left; padding:10px;}
.executivetravelimg{}
.executivetraveldetail{ font-size:12px;}

.carmodel{}
.price{ width:208px; padding:38px 0px 20px 0px;}
.number{ float:left; font-size:20px; font-weight:bold; padding:0px 0px 0px 0px;}
.words{ float:left; font-size:13px; padding:10px 10px; color:#9c9c9c;}
.carmodeltitle{ color:#494949; font-size:13px; padding:15px 0px;}
.carmodeltitle span{ color:#333333; font-weight:bold;}
.carmodel ul li{ padding:8px 0px; color:#565656; list-style:inside;}

.carpicutermenu{}
.carpicutermenu ul li{ list-style:none; float:left; padding:31px 7px;}
.mileage{ padding:20px 0px; font-size:13px; color:#6e6e6e; list-style: inside;}
.enquire{ color:#494949; font-weight:bold; font-size:13px; padding:0px 0px 10px 0px;}
.button-enquire{
    background: #ED6A12;
    width: 300px;
    text-align: center !important;
    -webkit-border-radius: 80px 80px 80px 80px;
    border-radius: 80px 80px 80px 80px;
    margin: 26px auto;
    padding: 10px;
}
.entry-content .enquire a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.button-enquire span {border-radius: 80px 80px 80px 80px; display:block; padding:7px 0px;color: white;text-transform: uppercase;}

.wordsmenu ul, .footer ul { padding:0px; margin:0px;}
.home-aboutcontent { height:130px; overflow:hidden;}
.banner .mx_width { position:relative;}
.tabimg-exp img { width:125px; height:120px !important; margin-right:10px;}
.tabimg-exp { padding:20px 0;}
.tabimg img { width:165px; height:120px !important; margin-right:10px;}
.bottomtext { padding:20px 0px;}
.innerLeft { width:710px;}
.rightpartin { background:url(../images/rightbg.jpg) repeat-y left top ; width:321px; min-height:1580px; position:relative; padding:20px;}
.shedowtop { background:url(../images/right-shedow.jpg) no-repeat left top; width:50px; height:93px;  position:absolute; left:-27px; top:0px; text-indent:-99999px; }
.rightTitle { border-top:solid 2px #e0e0e0; border-bottom:solid 2px #e0e0e0; padding:10px 0px; font-size:15px; font-weight:bold;}
.rightpartin h1 { font-size:15px; color:#3d3b3b; padding:0px; margin:0px;}
.rightpartin h1 strong { display:block; font-weight:normal;}
.rightincontent { padding:10px 0px;}
.rightincontent  { font-size:15px;}
.rightincontent p{ width:280px;}
.rightincontent strong {font-weight:normal;}
.innerLeft .fbx-link { padding:10px 0px; display: block;}

.downloadbox-exp { padding-top:60px; padding-left:10px;}
.contectLeft { float:left; font-size:15px;}
.cotentRifht { float:left; padding-left:105px; font-size:15px;}
.contactpageForm { width:700px; clear:both; padding:20px 0;}
.footerIn { background:#fff; margin:20px 0px; padding:30px 10px;}
.copy { text-align:center; color:#fff; /*font-family:Calibri;*/ font-size:14px; float:left;}
.footerMenu { float:right;}
.footerMenu  a { color:#fff;}

.entry-content { line-height:30px; text-align:justify;}
h4 { font-size:22px !important; font-weight:normal !important; padding-top:0px !important; border-bottom:solid 1px #cccccc !important; padding-bottom:20px !important; color:#191919 !important;}
ol { padding:0 10px !important; }

#menu-toggle-harish { display:none;}
ul.socialicon { position:absolute;right:0px; top:10px;}
.headerright ul.socialicon  li { border:none; margin:0px;}
.socialicon li a{ background:url(../images/socialicon.png) no-repeat left top; display:block; width:26px; height:26px; text-indent:-9999px; outline:none; text-decoration:none;}
.socialicon li a:hover {background-position: 0 -26px;}
.socialicon li.tw a:hover {background-position: -31px -26px;}
.socialicon li.gp a:hover {background-position: -61px -26px;}
.socialicon li.linkd a:hover {background-position: -91px -26px;}
.socialicon li.tw a { background-position: -31px 0px;}
.socialicon li.gp a { background-position: -61px 0px;}
.socialicon li.linkd a { background-position: -91px 0px;}
.headerright  ul.socialicon li { width:26px;}

.socialicon ul { padding:0px; margin:0px;}
.socialicon li { float:right; list-style:none; margin-right:5px;}

@media only screen and (min-width: 979px) and (max-width: 1124px)  {
#slideshow, .mx_width{ width:980px;}
#slideshow img { width:100%;}
.associates { width:500px;}
.associates li { width:23%;}
.associates li  img { width:100%;}
.weddingpageleft { width:580px;}
.innerLeft { width:590px;}


}

@media only screen and (min-width: 768px) and (max-width: 978px)  {
    a.area_link {
        width: auto;
    }
    .left_side {
        background-size: 100% auto;
    }
    #slideshow, .mx_width{ width:750px;}
    #slideshow img { width:100%; height:100%;}
    .headerright ul li { padding:0px 10px;}
    .corporatepartners { width:30%;}
    .associates { width:69%;}
    .corporatepartners li { width:100%; padding:10px;}
    .corporatepartners li img { width:80%; height:100%;}
    .associates li { width:45%; padding:10px;}
    .associates li img { height:50%; width:80%;}
    .awards { padding-left:0px;}
    .news { padding-bottom:40px;}
    .aboutwhite { width:750px;}
    .weddingpageleft { width:350px;}
    .innerLeft { width:590px;}

}

@media only screen and (max-width: 1150px)  {
    .headerright ul.nav-menu > li, .headerright ul li {
        max-width: calc(25%);
    }

#menu-toggle-harish { margin-top:40px; outline:none; margin-right:20px; position:relative; z-index:11000; display:block; background:url(../images/menuicon.png)  no-repeat left top; width:66px; height:66px; text-indent:-9999px; display:block;}
#menuharish {  position:absolute; right:40px; opacity:0;  top:100px; -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out; -webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
transition: all 0.5s ease-in-out; z-index:10000; background:#fff; padding:15px; border:solid 1px #d8d8d8;
    width: 150px;
    left: 0;
}

#menuharish ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: unset;
    border: none;
}

    .headerright ul ul {
        border:  1px solid;
    }
#menuharish ul li a { color:#4e4e51;}

#menuharish.open { display:block; top:120px; opacity:1;}
.headerright, .headerleft { text-align:center; padding:0px; }


}

@media only screen and (max-width: 979px)  {
    div.sidebar-right {
    	width: 100%;
    }
    
    .TabbedPanelsContent.resp-tab-content.resp-tab-content-active {
    	padding:  10px;
	}
    
    div.experience_page .expriingpage {
    	width: 100%;
    }
    
    .expriingpage .expricesimg .row {
    	width: 33%;
   	 	height:  auto;
   		display:  inline-block;
	}

	.expriingpage .expricesimg .row img {
    	width: 45%;
	}
	div.TabbedPanelsContent .button-enquire {
    	position: relative;
	    top: 0;
    	bottom:  0;
	    left: 0;
	}
}

@media only screen and (max-width: 767px)  {
    a.area_link {
        width: auto;
    }
    .left_side {
        background-size: 100% auto;
    }
    
    div.sidebar-right {
    	width: 100%;
    }
    
    div.experience_page .expriingpage {
    	width: 100%;
    }
    
    .expriingpage .expricesimg .row {
    	width: 32%;
   	 	height:  auto;
   		display:  inline-block;
	}

	.expriingpage .expricesimg .row img {
	    width: calc(50% - 10px);
    	padding: 0 10px 0 0 !important;
    }

ul.socialicon { position:absolute;right:10px; top:0px; width:100px;}
.mx_width{ width:95%;}
#slideshow { width:99%;}
#slideshow img { width:100%; height:100%; display:block;}
.slogn { font-size:18px; padding:7px;}

.headerleft img { width:80%;}


.downloadbox , .downloadbox-exp{ padding:0px;}
.hentry { margin:0px !important;}
.expriingpage { position:relative !important; top:0px !important; right:0px !important;}
.innerLeft, .rightpartin, .contactpageForm, .contectLeft, .cotentRifht, .weddingpageleft, .weddingpageright, .copy, .footerMenu, .aboutwhite, .awards, .news, .corporatepartners , .associates{ float:none; width:100%; padding:0px; overflow:hidden;}
.weddingpageexprince_new p { width:100% !important;}
.corporatepartners ul li, .associates ul li{ float:left; width:45%; text-align:center; padding:0px; padding-bottom:20px; padding-right:10px;}
.corporatepartners ul li img , .associates ul li img { width:100% !important; height:auto !important;}
.copy, .footerMenu { text-align:center;}
.news { padding-bottom:40px;}
.rightpartin { width:92% !important; padding:4% !important; }
.corportate-en-page form input[type="text"], .corportate-en-page form select, .corportate-en-page form input[type="email"] { width:100% !IMPORTANT;}

.weddingpage { padding:15px;}
.banner { padding-top:20px;}

#menuharish ul li { min-height:inherit; padding:7px 10px; text-align:center; border:0px; border-bottom:1px solid #8e8e8e;    width: 90%;}

#menuharish.open { width:170px;}
ul.socialicon {    width: auto;}


}


@media only screen and (max-width: 650px)  {
	div.expriingpage .expricesimg .row img {
    	width: calc(100% - 10px);
	}
}

@media only screen and (max-width: 500px)  {
    .left_side {
        width:  100%;
        height:  50%;
    }

    .right_side {
        width: calc(100% - 30px);
        float:  none;
    }
}


@media only screen and (max-width: 400px)  {
	div.expriingpage .expricesimg .row img {
    	width: calc(50% - 10px);
	}
	
	.expriingpage .expricesimg .row {
    	width:  100%;
	}
}

@media only screen and (max-width: 350px)  {

.headerleft  { width:200px;}
#slideshow img { width:300px; height:160px; display:block;}


}

.lightgray { background:#f4f4f4; padding:22px;}
.lightgray p { color:#242424;} 


.wpcf7 b { color:#FF0000; font-size:25px; line-height:30px; font-weight:normal;}