
ul.resp-tabs-list, p {
    padding: 0px;
}




.resp-tabs-list li h3{ color:#3DB5E6; font-size:20px;}

ul.resp-tabs-list { margin:0px;}
.resp-tabs-list li  {transition: width 2s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s;
}
.resp-tabs-list li:hover { background:#969696; color:#fff; }

.resp-tabs-list li:hover h3 { color:#fff;}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;

}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;

}

.resp-tabs-list { 
    float: none;
    width: 30%;
    background: #e9e9e9;
    min-height: 500px;
    display: inline-block;
}
.resp-tabs-container {
    vertical-align: top;
    float: none;
    width: 69%;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}



.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
	background:url("../images/weddingpage2.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
	  border-left: 1px solid #e04040!important;
	    border-right: 1px solid #e04040!important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {


}

.resp-vtabs .resp-tabs-list li {
  	position: relative;
	top: 1px;
	padding:10px 12px;
	list-style: none;
	font-size:13px;
	font-weight:bold;

	border-bottom: solid 1px #ffffff;

	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	
}

.resp-vtabs .resp-tabs-container {

	padding:15px 15px 90px 15px;
}
.resp-tabs-container h1 { margin-top:15px;}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
	background: #b8b8b8;
	border:none;
	border-bottom: 1px solid #b8b8b8;
	
	color:#FFFFFF;

}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;

}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #e04040 !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 979px) {
    ul.resp-tabs-list {
        display: none;
    }
	.resp-vtabs .resp-tabs-container { padding:0px;}

    h2.resp-accordion {
        display: block;
    }
h2.resp-tab-active { color:#fff;}
h2.resp-tab-active h3{ color:#fff;}
    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

#verticalTab { border:solid 1px #e6e6e6;}
.resp-tabs-list li  { position:relative;}

.resp-tabs-list li span { display:none;}
.resp-tabs-list li span {width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent #b8b8b8; position:absolute; right:-10px; top:15px;}

.resp-vtabs li.resp-tab-active span{ display:block;}
.TabbedPanelsContent p { margin:0px 0px 10px 0px;}
